.settings-modal,
.goal-tracking-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #04041fb7;
  display: none;
  margin: auto;
}

.flash-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #04041fb7;
  display: none;
  margin: auto;
  z-index: 99999 !important;
}

.workstation-dark-mode .flash-modal {
  background-color: #04041fde;
}

.settings-screen,
.goal-tracking-screen {
  font-family: "Rubik", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  margin-top: 0p;
  border-radius: 10px;
  padding: 10px;
  padding-top: 100px;
  text-align: center;
}

.flash-modal {
  padding-top: 200px;
}

.flash-screen {
  font-family: "Rubik", sans-serif;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 30px;
  box-shadow: 1px 2px 4px 3px #d9dde9fb;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
  color: #04aa12;
}

.workstation-dark-mode .flash-screen {
  color: inherit;
}

.workstation-dark-mode .settings-screen,
.workstation-dark-mode .goal-tracking-screen {
  background-color: #000000;
}

.close-settings-modal {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 8px;
  box-shadow: 0.2px 0.4px 3px 0.6px #d9dde9fb;
  cursor: pointer;
}

.close-settings-modal:hover {
  background-color: #d9dde9fb;
}

.workstation-dark-mode .close-settings-modal:hover {
  background-color: #4c4d52;
}

.workstation-dark-mode .close-settings-modal {
  box-shadow: 0.2px 0.4px 3px 0.6px #4c4d52;
}

.settings-screen,
.goal-tracking-screen {
  width: 100%;
}

#close-setting,
#goal-tracking-setting {
  float: right;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#close-setting:hover,
#goal-tracking-setting:hover {
  background-color: #04aa6d;
}

.auto-fields {
  display: flex;
  align-items: center;
  justify-content: center;
}

#auto-save {
  font-weight: bold;
  margin-left: 5px;
}

#warning {
  margin: 3px;
}

.user-details {
  width: 100%;
  margin: auto;
  text-align: center;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-info {
  display: none;
  width: 90%;
}

/* Styles for sliding toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End Styles for sliding toggle switch */

/* Styles for goal tracking */

#daily-goal-input {
  margin: auto;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #5b5bf7bb;
  width: 65%;
  padding: 10px;
  background-color: white;
}

@media only screen and (min-width: 1024px) {
  .settings-screen,
  .goal-tracking-screen {
    width: 400px;
    min-height: 540px;
    margin-top: 70px;
    padding-top: 10px;
  }

  .flash-screen {
    width: 400px;
    min-height: fit-content;
  }
}
