@import url("https://fonts.googleapis.com/css2?family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    background-color: #fafbfe;
    scroll-behavior: smooth;
}

h1 {
    font-size: 5vw;
}

.workstation {
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-color: inherit;
    border-radius: 10px;
    margin-top: 100px;
    overflow-x: hidden;
}

.workstation h4 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
}

a {
    font-family: "Rubik", sans-serif;
    color:#000025;
}


.workstation-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 10px 15px;
    position: fixed;
    padding-top: 20px;
    width: 100%;
    z-index: 999;
    font-weight: 600;
    text-align: center;
    color: inherit;
    background-color: #00006e;
    top: 0;
    left: 0;
    color: #e9e5fc;
    box-shadow: 1px 2px 10px #6b6b79;
}

.workstation-header h1 {
    height: auto;
    width: 110px;
    padding-left: 15px;
}

.workstation-header h1>a {
    color: white;
    text-decoration: none;
}

.workstation-dark-mode .workstation-header {
    background-color: #000025;
    color: #c6c6c9;
}

.workstation-dark-mode h4 {
    color: #c6c6c9;
}

.workstation-dark-mode .workstation-header h1>a {
    color: #c3c6e0;
}

.workstation-header .workstation-nav.workstation-center {
    color: inherit;
    text-align: center;
}

.workstation-header .workstation-nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-weight: 500;
    color: inherit;
    font-weight: 600;
}

.workstation-header .workstation-nav.workstation-right {
    text-align: right;
}

.workstation-header button {
    border: none;
}

.workstation-header i {
    color: white;
    font-size: 18px;
}

.workstation-header i:hover {
    color: #585d88;
}

.workstation-nav a:hover {
    background-color: rgba(106, 106, 107, 0.185);
    border-radius: 5px;
    transition: 0.5s;
}

.workstation-nav .workstation-mode {
    background-color: transparent;
}

.workstation-dt {
    display: none;
}

#workstation-menu {
    background-color: rgba(106, 106, 107, 0.267);
    border-radius: 5px;
    padding: 7px 15px 7px 15px;
    cursor: pointer;
    margin-right: 20px;
}

#workstation-menu:hover {
    background-color: rgba(137, 137, 139, 0.096);
}

aside {
    position: fixed;
    top: 0;
    right: -400px;
    width: 295px;
    background-color: white;
    z-index: 999 !important;
    padding: 85px 45px;
    height: 100vh;
    transition: 0.5s;
    max-height: 100%;
    overflow-y: scroll;
}

aside a {
    display: block;
    background-color: #fff;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 14.7px;
    font-weight: 400;
    color:#000025;
}

aside a:visited {
    color:#000025;
}

aside button.workstation-close {
    background-color: transparent;
    font-size: 25px;
    position: absolute;
    top: 28px;
    right: 28px;
    cursor: pointer;
    border: 0;
    color: rgb(20, 20, 20);
}

aside.workstation-active {
    right: 0;
}

aside a:hover {
    background-color: rgba(106, 106, 107, 0.185);
    border-radius: 5px;
    transition: 0.5s;
}

.workstation-shadow {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: none;
}

aside .workstation-mobile-hidden {
    display: none;
}

#wiki-menu {
    cursor: pointer;
}

.workstation-shadow.workstation-active {
    display: block;
}

.workstation-dark-mode {
    background-color: #000000;
    color: #d3d5d6 !important;
}

.workstation-light-mode {
    background-color: #fafbfe;
    color: black;
}

.workstation-light-mode .workstation-header {
    background-color: #080455;
    color: rgb(199, 197, 212);
    box-shadow: 1px 7px 10px #acaad4;
}

.workstation-dark-mode aside {
    background-color: #1d2a35;
    color: white;
}

.workstation-dark-mode aside a {
    background-color: #1d2a35;
    color: white;
}

.workstation-dark-mode aside a:hover {
    background-color: #758da1;
}

.share {
    box-shadow: .2px .4px 3px .6px #d9dde9fb;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}

.workstation-dark-mode .share {
    box-shadow: .2px .4px 3px .6px #4c4d52;
}

.share a,
.share a:visited {
    color: blue;
}

.share:hover {
    background-color: #d9dde9fb;
}

.workstation-dark-mode .share:hover {
    background-color: #4c4d52;
}

.workstation-dark-mode .share:hover a {
    color: #fafbfe;
}

.share>a {
    text-decoration: none;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 25px;
    background-color: #0216cae7;
    color: #fafbfe;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    justify-content: center;
}

.back-to-top:hover {
    background-color: #03118be7;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fadein {
    animation: fadeIn 1s ease-out;
}


.back-to-top.fadein {
    opacity: 0;
}

.workstation-dark-mode .back-to-top {
    background-color: #030f7afd;
}

.workstation-dark-mode .back-to-top:hover {
    background-color: #0217cffd;
}

@media only screen and (min-width: 1000px) {
    .workstation {
        min-width: 500px;
        width: 85%;
        margin-bottom: 50px;
        padding: 5px 20px 50px 20px;
        margin: auto;
    }

    .workstation-header {
        padding: 5px 10px;
    }

    .workstation-dt {
        display: block;
    }
}