@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #000014;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    margin-bottom: 30px;
    color: rgba(255, 217, 0, 0.61);
    font-family: 'Croissant One', cursive;
}

h1 {
    font-size: 5vw;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.workstation {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    margin: auto;
    width: 85%;
    min-height: 500px;
    margin-top: 0px;
    background-color: #00006e;
    padding: 5px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #1b37b4;
}

.container {
    text-align: center;
}


#logList {
    padding: 10px;
}

#stop {
    padding: 7px 15px;
    border-radius:4px;
    background-color:#5b5bf7bb;
    border:1px solid #5b5bf7bb;
    font-size: 16px;
    color:white;
    width: 90px;
}

#logging {
    font-size: 22px;
}

.log-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#log {
    display: none;
}

#restMessage {
    display: none;
    text-align: center;
    margin: 25px;
}

#stop {
    display: none;
}

.tracker {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.tracker>button {
    margin-top: 10px;
}

table {
    border-radius: 10px;
    box-shadow: .5px 1px 5px 1px #1b37b4;
    font-size: 14px;
    padding: 3px;
}

thead {
    box-shadow: .3px .6px .9px .6px #1b37b4;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

th {
    padding: 5px 3px;
}

td {
    padding-right: 5px;
}

#clearTimelog {
    text-align: center;
}

#clearTimelog > button {
    padding: 7px;
    background-color:#1b37b4;
    border: 1px solid #1b37b4;
    border-radius:7px;
}

#clearTimelog > button:hover {
    background-color:#0732ee;
    border: 1px solid #0732ee;
}

.taskId {
    font-weight: 500;
}

@media only screen and (min-width: 1024px) {
    .workstation {
        min-width: 500px;
        width: 80%;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 30px;
    }


    #logList {
        padding: 30px;
    }

    table {
        font-size: 18px;
    }

}