.container {
    text-align: center;
}


#logList {
    padding: 10px;
}

#stop {
    padding: 7px 15px;
    border-radius: 4px;
    background-color: #5b5bf7bb;
    border: 1px solid #5b5bf7bb;
    font-size: 16px;
    color: white;
    width: 90px;
}

#logging {
    font-size: 22px;
}

.log-container {
    width: 95%;
    min-width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#log {
    display: none;
}

#log>h2 {
    margin-left: 20px;
}

#restMessage {
    display: none;
    text-align: center;
    margin: 25px;
}

#stop {
    display: none;
}

.tracker {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.tracker>button {
    margin-top: 10px;
}

table {
    border-radius: 10px;
    box-shadow: 1px 2px 4px 3px #d9dde9fb;
    font-size: 14px;
    padding: 10px;
}

.workstation-dark-mode table {
    box-shadow: 1px 2px 4px 3px #4c4d52;
}

thead {
    box-shadow: .2px .4px 3px .6px #d9dde9fb;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

.workstation-dark-mode thead {
    box-shadow: .2px .4px 3px .6px #6f7177;
}

th {
    padding: 10px 20px;
}


td {
    padding: 5px 10px;
    font-size: 3.3vw;
}

#clearTimelog {
    text-align: center;
    margin-top: 25px;
}


#clearTimelog>button:hover {
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.taskId {
    font-weight: 500;
}

.progress {
    display: flex;
    flex-direction: column;
    width: 96%;
    margin: auto;
    margin-top: 40px;
    padding: 5px;
    margin-left: -18px;
}

.progress-box,
.progress-goal {
    box-shadow: 1px 2px 4px 3px #d9dde9fb;
    height: auto;
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    padding: 20px;
}

.workstation-dark-mode .progress-box,
.workstation-dark-mode .progress-goal {
    box-shadow: .5px 1px 2px 3px #4c4d52;
}

.progress-goal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
}

.progress-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 12px solid #d9dde9fb;
    margin-bottom: 5px;
    font-size: 13px;
}

.progress-text,
.progress-time,
.progress-time-box {
    margin-bottom: 5px;
    font-size: 14px;
}

.progress-time {
    font-size: 25px;
}

.workstation-dark-mode .circle {
    border: 12px solid #4c4d52;
}


.edit-goal {
    margin-top: 50px;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {

    h1 {
        font-size: 30px;
    }

    .progress {
        width: 93%;
        flex-direction: row;
        margin: auto;
        margin-top: 50px;
    }

    .progress-box,
    .progress-goal {
        height: 280px;
        width: 100%;
    }

    .progress-goal {
        margin-bottom: 0;
        margin-right: 20px;
    }

    .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 12px solid #d9dde9fb;
        margin-bottom: 5px;
        font-size: 18px;
    }

    .progress-text,
    .progress-time,
    .progress-time-box {
        font-size: 17px;
    }

    .progress-time {
        font-size: 30px;
    }

    .log-container {
        width: 90%;
        min-width: 90%;
    }

    #logList {
        padding: 30px;
    }

    table {
        font-size: 18px;
    }

    th {
        padding: 35px 45px;
    }

    td {
        padding: 10px 40px;
        font-size: 18px;
    }

}