.container {
    text-align: center;
}


#logList {
    padding: 10px;
}

#stop {
    padding: 7px 15px;
    border-radius: 4px;
    background-color: #5b5bf7bb;
    border: 1px solid #5b5bf7bb;
    font-size: 16px;
    color: white;
    width: 90px;
}

#logging {
    font-size: 22px;
}

.log-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#log {
    display: none;
}

#restMessage {
    display: none;
    text-align: center;
    margin: 25px;
}

#stop {
    display: none;
}

.tracker {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.tracker>button {
    margin-top: 10px;
}

table {
    border-radius: 10px;
    box-shadow: 1px 2px 4px 3px #d9dde9fb;
    font-size: 14px;
    padding: 3px;
}

thead {
    box-shadow: .2px .4px .8px .6px #d9dde9fb;
    text-align: left;
    border-radius: 10px 10px 0 0;
}

th {
    padding: 5px 3px;
}

td {
    padding-right: 5px;
}

#clearTimelog {
    text-align: center;
}

#clearTimelog>button {
    padding: 7px;
    background-color: #1b37b4;
    border: 1px solid #1b37b4;
    border-radius: 7px;
}

#clearTimelog>button:hover {
    background-color: #0732ee;
    border: 1px solid #0732ee;
}

.taskId {
    font-weight: 500;
}

@media only screen and (min-width: 1024px) {
    .workstation {
        min-width: 500px;
        width: 90%;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 30px;
    }


    #logList {
        padding: 30px;
    }

    table {
        font-size: 18px;
    }

}