#inputbox {
    border-radius: 5px;
    padding-top: 10px;
    padding: 25px;
    text-align: center;
}

#todoList {
    border-radius: 5px;
}

.output {
    margin: auto;
    margin-bottom: 50px;
    padding: 10px;
}

h2 {
    font-size: 20px;
}

.taskHeader {
    text-align: center;
    color: #75c7f7;
    font-size: 1.5vw;
}

#delbtn {
    color: white;
    background-color: red;
    border-radius: 5px;
}

#delbtn:hover {
    background-color: blue;
}

#sLett {
    color: blue;
}

.p1 {
    text-align: center;
    padding-bottom: 10px;
    font-weight: 500;
}

#toDo {
    border-radius: 10px;
    border: none;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#toDo:focus {
    outline: none;
    border: none;
}

#toDo:hover {
    background-color: rgb(233, 240, 241);
    font-weight: 400;
}


#clearBox {
    width: 250px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

#clear {
    display: none;
}

#clear:hover {
    border: 1px solid #ff0000;
    background-color: #ff0000;
}

#probody {
    text-align: justify;
    font-size: 17px;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    list-style: none;
    font-size: 17px;
    margin: 0;
}

.taskList li,
#completedList li {
    background-color: inherit;
    border: 1px solid inherit;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    box-shadow: 1px 2px 4px 3px #d9dde9fb;
    font-size: 3.3vw;
}

.workstation-dark-mode .taskList li,
.workstation-dark-mode #completedList li {
    box-shadow: .5px 1px 2px 1.5px #4c4d52;
}

#inputs{
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #5b5bf7bb;
    width: 95%;
    text-align: center;
    background-color: white;
}

input[type="checkbox"] {
    cursor: pointer;
}

input[type="date"] {
    border-radius: 10px;
    border: none;
    margin: auto;
    padding: 10px;
    width: fit-content;
}

input[type="date"]:focus {
    outline: none;
    border: none;
}

li>button {
    background-color: #1b37b4;
    border-radius: 5px;
    border: 1px solid #1b37b4;
    font-size: 3vw;
    color: #e2e4ff;
    padding: 3px;
    margin-left: 5px;
}

li>i {
    font-size: 17px;
}

#completedHeader {
    display: none;
    text-align: center;
    text-align: left;
    font-size: 20px;
    margin-top: 25px;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #3551f185;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#completedList {
    margin: auto;
    margin-top: 10px;
}

#completedList li {
    list-style: none;
    padding: 3px;
}

@media (max-width: 400px) {
    #toDo {
        width: 40%;
    }

    #inputs {
        width: 98%;
    }

    h2 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    .output {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 30px;
    }

    #toDo {
        width: 60%;
    }

    #inputs {
        width: 40%;
    }

    .taskList li,
    #completedList li {
        font-size: 18px;
    }

    .taskList li {
        padding: 20px 30px;
    }

    #completedList li {
        padding: 10px 30px;
    }

    li>button {
        font-size: 12px;
    }
}